<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../Static/CSS/Inicio.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="menu">
            <a href="https://www.instagram.com/tuusuario">
                <img src="https://cdn-icons-png.flaticon.com/512/87/87390.png">
            </a>
            <a href="https://www.facebook.com/tuusuario">
                <img src="https://cdn-icons-png.flaticon.com/512/59/59439.png">
            </a>
            <a href="../Templates/modo_edicion.html">
                <img src="https://cdn-icons-png.flaticon.com/512/2919/2919564.png">
            </a>
        </div>
    </nav>

    <!-- Banner -->
    <div class="banner">
        <div class="profile">
            <img src="https://via.placeholder.com/100" alt="Tu Foto"> 
            <p class="nombre">Vicente Arhex Harwigt</p>
        </div>
    </div>

    <div class="about-section">
        <h2>Sobre Mí</h2>
        <p>Hola, soy Vicente Arhex Harwigt. Estudio en el itr.</p>
    </div>

</body>
</html>
