<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../Static/CSS/Inicio.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="menu">
            <a href="https://www.instagram.com/tuusuario">
                <img src="https://cdn-icons-png.flaticon.com/512/87/87390.png">
            </a>
            <a href="https://www.facebook.com/tuusuario">
                <img src="https://cdn-icons-png.flaticon.com/512/59/59439.png">
            </a>
            <a href="{{ url_for('modo_edicion') }}">
                <img src="https://cdn-icons-png.flaticon.com/512/2919/2919564.png">
            </a>
        </div>
    </nav>

</body>
</html>
