<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../static/CSS/Inicio.css">
    <!-- FONT titulos -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- FONT texto -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="menu">
            <a href="https://www.instagram.com/tuusuario">
                <img src="https://cdn-icons-png.flaticon.com/512/87/87390.png">
            </a>
            <a href="https://www.facebook.com/tuusuario">
                <img src="https://cdn-icons-png.flaticon.com/512/59/59439.png">
            </a>
            <a href="{{ url_for('modo_edicion') }}">
                <img src="https://cdn-icons-png.flaticon.com/512/2919/2919564.png">
            </a>
        </div>
    </nav>

    <!-- Banner -->
    <div class="banner">
        <div class="profile">
            <div class="profile-image">
                <img src="../static/20241012_095843.jpg" alt="Tu Foto">
                <div class="flag-icon">
                    <img src="https://cdn-icons-png.flaticon.com/128/16021/16021893.png" alt="Bandera">
                </div>
            </div>
            <div class="name-cv-container">
                <p class="nombre">Vicente Arhex Harwigt</p>
                <a href="../static/Curricullum.pdf" download class="download-btn">CV</a>
                <a href="https://github.com/vicens-AR" target="_blank" class="download-btn">
                    <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" class="github-logo">
                </a>
            </div>
        </div>
    </div>
    
    
    
    <!-- yo section -->
    <div class="about-section">
        <h2>Sobre Mí</h2>
        <p>Hola, soy Vicente Arhex Harwigt, tengo 17 años, actualmente soy estudiante de la orientacion
            programacion del Instituto tecnico Renault. Soy programador Full Stack, aunque tengo una
            inclinacion hacia el Front-end. 
        </p>
    </div>

    <!-- lenguajes -->
     <section class="skills">
    <h2>Lenguajes y Tecnologías</h2>
    <div class="skills-cards">
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/128/732/732212.png"></img>
            <p>HTML</p>
        </div>
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/128/732/732190.png"></img>
            <p>CSS</p>
        </div>
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/128/5968/5968292.png"></img>
            <p>JavaScript</p>
        </div>
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/128/1822/1822899.png"></img>
            <p>Python</p>
        </div>
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/128/5968/5968571.png"></img>
            <p>Visual Studio</p>
        </div>
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/128/5968/5968254.png"></img>
            <p>SQL</p>
        </div>
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/128/3291/3291695.png"></img>
            <p>Git hub</p>
        </div>
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/128/6132/6132222.png"></img>
            <p>C++</p>
        </div>
    </div>
</section>

 <!-- mis proyectos -->
<section class="projects">
    <h2>Mis Proyectos</h2>
    <div class="project-cards">
        <div class="project-card">
            <h3>Proyecto Formula 1</h3>
            <p>Durante 5to Año junto a Joaquin Arce desarrolle un proyecto
                de formula 1, que mostraba un historial de pilotos, escuderias y un
                mapa de las distintas carreras.
            </p>
            <a href="https://github.com/ArceJoaquin06/F1_Proyect" target="_blank" class="github-btn">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub Logo">
                Ver Proyecto
            </a>
        </div>
        <div class="project-card">
            <h3>Latin Code Week</h3>
            <p>Tambien Durante 5to año junto a un grupo de compañeros para la competencia
                de latin code week organizada por junior achievement.
            </p>
            <a href="https://github.com/ParisNicolas/Latin_code_week" target="_blank" class="github-btn">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub Logo">
                Ver Proyecto
            </a>
        </div>
        <div class="project-card">
            <h3>Aula Virtual</h3>
            <p>Durante este año junto aJoaquin Arce desarrollamos un alua virtual con flask 
                esta ademas es funcional, estando inspirada en classroom de google.
            </p>
            <a href="https://github.com/vicens-AR/aula-virtual" target="_blank" class="github-btn">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub Logo">
                Ver Proyecto
            </a>
        </div>
        <div class="project-card">
            <h3>Copa Renault</h3>
            <p>Tambien durnate este año junto a Joaquin Arce desarrollamos una version
                de prueba/Iicial de na app para la copa reanult (evento deportivo).
            </p>
            <a href="https://github.com/ArceJoaquin06/RenaultCup" target="_blank" class="github-btn">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub Logo">
                Ver Proyecto
            </a>
        </div>
    </div>
</section>

</body>
</html>
