<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/CSS/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login-card">
        <h2>Inicio de sesión</h2>
        <form action="{{ url_for('login') }}" method="POST">
            <div class="input-container">
                <span class="icon">&#128100;</span> <!-- Ícono de persona -->
                <input type="text" name="username" placeholder="Usuario" required>
            </div>
            <div class="input-container">
                <span class="icon">&#128274;</span> <!-- Ícono de candado -->
                <input type="password" name="password" placeholder="Contraseña" required>
            </div>
            <button type="submit" class="login-button">Iniciar sesión</button>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="messages">
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>
</body>
</html>
